
<h1>Bem Vindo ao Contador de Bolso</h1><br>
<h2>
    <p></p><br>
    <p>Para fazer um pedido, clique no botão a seguir:</p><br>
    <%= button_to 'Fazer um pedido', produtos_path, method: :get %><br>
    <p>Para adicionar produtos, clique no botão a seguir:</p><br>
    <%= button_to 'Adicionar um produto', new_produto_path, method: :get %><br>
    <p>Para ver os pedidos, clique no botão a seguir:</p><br>
    <%= button_to 'Ver pedidos', orders_path, method: :get %><br>
</h2>

