// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    margin: 0cm;
    padding: 0cm;
    font-family: Fixedsys Regular, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
}

body{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to right, rgb(170, 11, 11), rgb(37, 1, 1));
}

.header{
    width: 100%;
    height: 50px;
    position: sticky;
    z-index: 1;
    display: flex;
    align-content: center;
    background: rgb(37, 37, 37);
    color: white;
}

.header img{
    width: 100px;
    height: auto;
}

.wrap{
    position: relative;    
}

.section{
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 50px auto 50px;
}

.quadrologin{
    display: grid;
    width: 300px;
    height: 350px;
    place-items: center center;
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
}

.titulo{
    font-size: 25px;
}

.loginbox{
    display: grid;
    justify-content: center;
}

.loginbox > .form{
    height: 20px;
    width: 100px;
}

.botaologin{
    justify-content: center;
    width: 100px;
    height: 50px;
    border: rgb(146, 146, 146);
    outline: none;
}

.botaologin:hover{
    background-color: rgb(192, 192, 192);
}

.botaologin:focus{
    background-color: rgb(192, 192, 192);
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: black;
    color: rgb(158, 158, 158);
}