<footer class="footer">
    <p style="font-size: 12px;">Em caso de problemas contactar:</p><br>
    <p style="font-size: 10px;">xxxx@usp.br</p>
    <p style="font-size: 10px;">+55(11)xxxx-xxxx</p><br>
    <p style="font-size: 10px;">PMR3304 - Grupo G</p>
</footer>