<header class="header">
    <img src="Figuras/notfound.png"> 
    <button class="botaovoltar">Voltar</button>
    <div class="quadrousuario"> 
        <h2 class="nomeusuario">Nome do usuario</h2>
        <button class="botaosair">Sair</button>
    </div>     
</header>